.main-header {
  height: 520px;
  padding-top: 120px;
  background-color: #d9d1bd;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 20px;
  font-style: italic;
  color:  #0f0e00;
  position: relative;
  top: -30px;
}

.avatar {
  margin-top: 40px;
}

