.main-header {
  height: 520px;
  padding-top: 20%;
  background-color: #d9d1bd;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}

.main-header .name {
  display: flex;
  font-style: italic;
  color:  #0f0e00;
  margin-bottom: 5%;;
}

.main-header .avatar {
  display: flex;
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  .main-header {
    width: 30%;
    height: 30vw;
    margin-top: 250px;
    margin-left: 5%;
    padding-top: 3%;
    float: left;
    align-items: center;
  }
}

